################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
*.exe
*.exe.config
*.pdb
*.suo
*.vshost.exe
*.manifest
*.cache
*.user
